* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: var(--secondary);
}
:root {
    --primary: #db8698;
    --secondary: #000000;
}
h2, h1 {
    font-weight: 200;
}
img {
    max-width: 100%;
    width: 100%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 16px;
}
.navbar_toggle {
    margin-left: 5%;
    font-size: 30px;
    color: #ffffff;
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
    display: none;
}
.logo {
    margin-left: 5%;
    color: var(--secondary);
    font-size: 20px;
    font-weight: 500;
}
.logo_header {
    display: flex;
    align-items: center;
    margin-left: 2%;
    width: 20%;
}
.header-action {
    margin-left: 5%;
    margin-right: 5%;
}
.main_nav {
    display: flex;
    width: 50%;
    float: right;
    margin-right: 2%;
    justify-content: flex-end;
    list-style: none;
}
.main_nav li:hover a {
    color: gray
}
.main_nav li {
    display: inline;
    color: #ffffff;
    margin-left: 30px;
}
.header-action.mobile {
    display: none;
}
.header-action i {
    padding-right: 10px;
}
.main_nav li a {
    color: var(--secondary);
    font-weight: 100;
}
@media only screen and (min-width : 993px) {
    .about.wrapper.wrapper-content img {
        padding: 20px 10%;
    }
}
@media only screen and (max-width : 992px){
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100vw;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: #000000;
        font-size: 20px;
    }
    .logo {
        color: #ffffff;
        margin-left: 0%;
    }
    .main_nav {
        display: none;
    }
    .show_nav {
        padding-top: 5%;
        display: flex;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
    }
    .main_nav li {
        width: 100%;
        height: 50px;
        font-size: 15px;
        justify-content: center;
        text-align: center;
        padding: 0%;
        margin: 0%;
    }
    .main_nav li a {
        color: #ffffff;
    }
    .navbar_toggle {
        margin-left: 5%;
        margin-right: 5%;
        font-size: 30px;
        color: #ffffff;
        background: transparent;
        border-color: transparent;
        transition: all 0.3s linear;
        cursor: pointer;
        display: block;
    }
    .logo_header{
        justify-content: space-between;
        margin-right: 2%;
        width: auto;
    }
    .header-action i {
        color: #ffffff;
    }
    .header-action.mobile {
        display: block;
    }
    .header-action.desktop {
        display: none;
    }
    .wrapper-content {
        flex-direction: column;
    }
    .products > div {
        max-width: 100% !important;
    }
}
.banner img {
    width: 100%;
    max-width: 100%;
}
.wrapper-content {
    display: flex;
}
.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 20px;
}
.wrapper-content > div {
    flex: 50%;
    padding: 0 20px;
    flex-wrap: wrap;
}
.about img {
    max-width: 100%;
    width: 100%;
}
.spacer {
    height: 30px;
}
.about-content, .description p {
    text-align: justify;
    line-height: 24px;
}
.title {
    padding-top: 20px;
    position: relative;
    font-weight: 400;
}
p {
    font-weight: 100;
}
footer {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--secondary);
    color: #ffffff;
}
.footer {
    max-width: 1200px;
    margin: 0 auto;
}
.justify-center {
    justify-content: center;
}
.products {
    display: flex;
}
.products > div {
    max-width: 25%;
}
.products .product-img img {
    max-width: 100%;
    width: 100%;
}
.single-product {
    text-align: center;
}
.product-title {
    padding-top: 17px;
}
.product-price {
    padding-bottom: 17px;
}
.text-center {
    text-align: center;
}
.single-product-detail img {
    padding: 12px 15%;
    box-sizing: border-box;
}
.min-height {
    min-height: 100vh;
}
.latest-product.wrapper > div, .all-product.wrapper > div {
    flex-wrap: wrap;
}
.all-product {
    padding-bottom: 120px;
}
.single-product-detail .product-title h2 {
    border-bottom: 1px solid #e7e7e7;
    padding: 18px 0;
    margin-bottom: 18px;
}
.single-product-detail .price {
    font-size: 25px;
    font-weight: 500;
    color: #000;
    padding-top: 28px;
}
.single-product-detail .title {
    font-size: 32px;
}
.single-product-detail .wishlist, .description p {
    padding-top: 18px;
}
.description {
    padding-top: 30px!important;
    padding: 0 20px;
}
.single-product-detail ul {
    list-style: none;
    font-weight: 100;
}
.single-product-detail ul li {
    line-height: 22px;
}
.single-product-detail ul li::before {
    content: "\2022";
    color: var(--primary);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
.page-title {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    background-color: #f9f9f9;
}
.wrapper-wishlist {
    padding-top: 20px;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 20px;
}
.wrapper-wishlist .left {
    flex: 10%
}
.wrapper-wishlist .right {
    flex: 90%
}
.padding {
    padding: 0 20px;
}
.mb-1 {
    margin-bottom: 1rem;
}
.product-btn {
    text-align: center;
}
.product-btn button {
    margin-top: 30px;
    padding: 15px 25px;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    background-color: var(--primary);
    color: #ffffff;
    cursor: pointer;
}
.container {
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0px auto;
}
.container .forms {
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
    transition: height 0.2s ease;
}
.container .form {
    width: 50%;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
}
.container.active .login {
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}
.container .signup {
    opacity: 0;
    transition: opacity 0.09s ease;
}
.container.active .signup {
    opacity: 1;
    transition: opacity 0.2s ease;
}
.container.active .forms {
    height: 600px;
}
.container .form .title {
    position: relative;
    font-size: 27px;
    font-weight: 600;
}
.form .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: var(--primary);
    border-radius: 25px;
}
.form .input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}
.input-field input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}
.input-field input:is(:focus, :valid) {
    border-bottom-color: var(--primary);
}
.input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}
.input-field input:is(:focus, :valid)~i {
    color: var(--primary);
}
.input-field i.icon {
    left: 0;
}
.input-field i.showHidePw {
    right: 0;
    cursor: pointer;
    padding: 10px;
}
.form .checkbox-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.checkbox-text .checkbox-content {
    display: flex;
    align-items: center;
}
.checkbox-content input {
    margin: 0 8px -2px 4px;
    accent-color: var(--primary);
}
.form .text {
    color: #333;
    font-size: 14px;
}
.form a.text {
    color: var(--primary);
    text-decoration: none;
}
.form a:hover {
    text-decoration: underline;
}
.form .button {
    margin-top: 35px;
}
.form .button input {
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: var(--primary);
    cursor: pointer;
    transition: all 0.3s ease;
}
.button input:hover {
    background-color: var(--primary);
}
.form .login-signup {
    margin-top: 30px;
    text-align: center;
}
.login-response {
    color: var(--primary);
}
.login-register {
    background-color: #f8f8f8;
    padding-top: 20px;
}