* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
:root {
    --primary: #efcad2;
    --secondary: #000000;
}
h2, h1 {
    font-weight: 200;
}
img {
    max-width: 100%;
    width: 100%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 16px;
}
.navbar_toggle {
    margin-left: 5%;
    font-size: 30px;
    color: #ffffff;
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
    display: none;
}
.logo {
    margin-left: 5%;
    color: var(--secondary);
    font-size: 20px;
    font-weight: 500;
}
.logo_header {
    display: flex;
    align-items: center;
    margin-left: 2%;
    width: 20%;
}
.header-action {
    margin-left: 5%;
    margin-right: 5%;
}
.main_nav {
    display: flex;
    width: 50%;
    float: right;
    margin-right: 2%;
    justify-content: flex-end;
    list-style: none;
}
.main_nav li:hover a {
    color: gray
}
.main_nav li {
    display: inline;
    color: #ffffff;
    margin-left: 30px;
}
.header-action.mobile {
    display: none;
}
.header-action i {
    padding-right: 10px;
}
.main_nav li a {
    color: var(--secondary);
    font-weight: 100;
}
@media only screen and (max-width : 992px){
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100vw;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: #000000;
        font-size: 20px;
    }
    .logo {
        color: #ffffff;
        margin-left: 0%;
    }
    .main_nav {
        display: none;
    }
    .show_nav {
        padding-top: 5%;
        display: flex;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
    }
    .main_nav li {
        width: 100%;
        height: 50px;
        font-size: 15px;
        justify-content: center;
        text-align: center;
        padding: 0%;
        margin: 0%;
    }
    .main_nav li a {
        color: #ffffff;
    }
    .navbar_toggle {
        margin-left: 5%;
        margin-right: 5%;
        font-size: 30px;
        color: #ffffff;
        background: transparent;
        border-color: transparent;
        transition: all 0.3s linear;
        cursor: pointer;
        display: block;
    }
    .logo_header{
        justify-content: space-between;
        margin-right: 2%;
        width: auto;
    }
    .header-action i {
        color: #ffffff;
    }
    .header-action.mobile {
        display: block;
    }
    .header-action.desktop {
        display: none;
    }
    .wrapper-content {
        flex-direction: column;
    }
    .products > div {
        max-width: 100% !important;
    }
}
.banner img {
    width: 100%;
    max-width: 100%;
}
.wrapper-content {
    display: flex;
}
.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 20px;
}
.wrapper-content > div {
    flex: 50%;
    padding: 0 20px;
    flex-wrap: wrap;
}
.about img {
    max-width: 100%;
    width: 100%;
}
.spacer {
    height: 30px;
}
.about-content, .description p {
    text-align: justify;
    line-height: 24px;
}
.title {
    padding-top: 20px;
    position: relative;
    font-weight: 400;
}
p {
    font-weight: 100;
}
footer {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--secondary);
    color: #ffffff;
}
.footer {
    max-width: 1200px;
    margin: 0 auto;
}
.justify-center {
    justify-content: center;
}
.products {
    display: flex;
}
.products > div {
    max-width: 25%;
}
.products .product-img img {
    max-width: 100%;
    width: 100%;
}
.single-product {
    text-align: center;
}
.product-title {
    padding-top: 17px;
}
.product-price {
    padding-bottom: 17px;
}
.text-center {
    text-align: center;
}
.single-product-detail img {
    padding: 12px 15%;
    box-sizing: border-box;
}
.min-height {
    min-height: 100vh;
}
.latest-product.wrapper > div {
    flex-wrap: wrap;
}
.single-product-detail .product-title h2 {
    border-bottom: 1px solid #e7e7e7;
    padding: 18px 0;
    margin-bottom: 18px;
}
.single-product-detail .price {
    font-size: 25px;
    font-weight: 500;
    color: #000;
    padding-top: 28px;
}
.single-product-detail .title {
    font-size: 32px;
}
.single-product-detail .wishlist, .description p {
    padding-top: 18px;
}
.description {
    padding-top: 30px!important;
    padding: 0 20px;
}
.single-product-detail ul {
    list-style: none;
    font-weight: 100;
}
.single-product-detail ul li {
    line-height: 22px;
}
.single-product-detail ul li::before {
    content: "\2022";
    color: var(--primary);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
.page-title {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    background-color: #f9f9f9;
}