* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #f8f8f8;
}
:root {
    --primary: #db8698;
    --secondary: #000000;
}
.buttons-collection {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons-collection button {
    min-width: 250px;
}
.buttons-collection button,.btn-submit {
    margin-top: 10px;
    padding: 13px 19px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    background-color: var(--primary);
    color: #ffffff;
    cursor: pointer;
}
.category-section,.product-section {
    display: none;
    margin-top: 50px;
}
.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0;
}
.card {
    max-width: 440px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.card input, .card textarea, .card select {
    width: 100%;
    max-width: 100%;
    border: 0;
    border-bottom: 2px solid #ccc;
    height: 30px;
}
label {
    font-size: 13px;
    padding-top: 6px;
}
.card .title {
    font-weight: 400;
}
.add-btn {
    text-align: center;
}
